html {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

input:hover {
    cursor: pointer;
}

inpurt:disabled:hover {
    cursor: copy;
}

.timer-wrapper {
    display: inline-flex;
    flex-direction: column;
    height: 150px;

    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px rgba(33, 33, 33, .3);
}

.timer-name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;

    /* border-bottom: 1px solid #888; */
    background-color: rgb(238, 30, 60);
    box-shadow: 0 1px 2px 1px rgba(33, 33, 33, .3);
}

    .timer-name .edit-pen {
        display: inline-block;
        font-size: 30px;
        color: #fff;
        background-color: rgba(0,0,0, .3);
        padding: 2px;
    }

        .timer-name .edit-pen:hover {
            cursor: pointer;
        }

    .timer-name .timer-name-input {
        border: none;
        font-size: 30px;
        width: 10px;
        flex-grow: 1;
        background-color: #fff;
        box-shadow: 0 0 5px 1px rgba(50, 50, 200, .3);
        color: #000;
        font-weight: bold;
    }

        .timer-name .timer-name-input:disabled {
            background-color: transparent;
            box-shadow: none;
        color: #fff;
        }

        .timer-name .timer-name-input:hover {
            cursor: text;
        }

        .timer-name .timer-name-input:disabled:hover {
            cursor: default;
        }

.timer {
    font-size: 30px;
    font-family: 'Lucida Sans';
}

.control-panel {
    align-self: flex-end;
}

.control-panel > button {
    font-size: 16px;
    border: none;
    margin-right: 2px;
}

.control-panel > button:hover {
    cursor: pointer;
    color: rgb(238, 30, 60);
    
}

.control-panel > button:last-child {
    margin-right: 0;
}

button.run:after {
    content: '\25B6';
}

button.stop:after {
    content: '\2BC0';
}
