html {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Lucida Sans';
}

body > #root + svg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    opacity: .5;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    z-index: 10;
}

.home-container {
    align-self: center;
    margin-top: 200px;
}

.home-container .track-start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.track-start button { 
    border: none;
    background-color: #de6b16;
    color: #fff;
    padding: 5px 10px;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font-variant: small-caps;
}

.track-start button:hover {
    cursor: pointer;
}

.track-start button:active {
    box-shadow: 5px 5px 5px rgba(0,0,0,.3) inset;
}

h1.title {
    background-color: #333;
    color: #f1f1f1;
    padding: 5px 10px;
}

input:hover {
    cursor: pointer;
}

inpurt:disabled:hover {
    cursor: copy;
}

.timer-wrapper {
    display: inline-flex;
    flex-direction: column;
    height: 150px;

    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    padding: 3px;
    box-shadow: 1px 1px 2px 1px rgba(33, 33, 33, .3);
}

.timer-name {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;

     background: linear-gradient(to right, rgb(238, 30, 60), rgb(240, 90, 30)); 
    box-shadow: 0 1px 2px 1px rgba(33, 33, 33, .3);
}

    .timer-name .notify {
        display: inline-block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        
        padding: 2px;
        
        font-size: 25px;
        color: #f1f1f1;
        text-align: center;

        background-color: rgba(0,0,0, .3);
    }

    .timer-name .notify:hover {
        cursor: pointer;
    }

    .timer-name .timer-name-input {
        border: none;
        font-size: 30px;
        width: 10px;
        flex-grow: 1;
        font-weight: bold;
    }

        .timer-name span.timer-name-input {
            color: #fff;
        }

        .timer-name input.timer-name-input {
            color: #000;
        }

        .timer-name input.timer-name-input:hover,
        .timer-name span.timer-name-input:hover {
            cursor: text;
        }

        .timer-name .timer-name-input:disabled:hover {
            cursor: default;
        }

.timer-wrapper {
    font-size: 30px;
    font-family: 'Lucida Sans';
}

.control-panel {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.control-panel > button {
    font-size: 16px;
    border: none;
    margin-right: 2px;
    height: 25px;
    width: 25px;
}

.control-panel > button:hover {
    cursor: pointer;
    color: rgb(238, 30, 60);
    
}

.control-panel > button:last-child {
    margin-right: 0;
}

/* button.run:after {
    content: '\25B6';
}

button.stop:after {
    content: '\2BC0';
} */
